* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}
svg {
    width: 50%;
    height: 10%;
}
body {
    background-image: url(https://cdn.mos.cms.futurecdn.net/G79YngbW86RJ2QtzFfZEu3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Futura', "Trebuchet MS", Arial, sans-serif; 
    font-style: normal; 
    font-variant: normal; 
    line-height: 20px; 
}
path {
    fill: transparent;
  }
  
text {
    fill: rgb(20, 54, 36);
    font-size: 38px;
}

.container {

    display: flex;

    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    max-height: 100vh;
}
.top {
    display: flex;
    margin: 0.4em;
    width: 100%;
    
}
.container #btn {
    margin: 1.8em auto;
}
.container img {
    align-self: center;
   margin-bottom: 1.3em;
   width: 18vw;
   height: 22vh;
   border: 3px solid rgb(212, 212, 121);
   border-radius: 3px;
   margin: 0 1em;


}
.container > div {
    padding: 0.8em 0;
}
#personality, #species{
    padding: 0.3em;
    font-weight: 500;
    font-size: 26px;
    margin: 0;
}
.pers,.spec {
    font-weight: 300;
}

#btn {
    padding: 0.6em 0.8em;
    background-color:rgb(238, 238, 186);
    border: 3px solid rgb(212, 212, 121);
    border-radius: 10px;
    margin-bottom: 20em;
    font-size: 23px;
    font-weight: 600;
}
#btn:hover {
    cursor: pointer;
    padding: 0.7em 0.9em;
    background-color: hsl(58, 91%, 64%);
    border-color: hsl(58, 69%, 38%);
    color: rgb(56, 51, 51);
    -webkit-transition: background-color 0.3s linear;
    -ms-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}
#catchPhrase{
    font-size: 32px;
    align-self: center;
    border-bottom: 3px solid rgb(212, 212, 121);
    padding: 0 2em 0.5em 2em;
    font-weight: 500;
}
#saying {
    Padding-bottom: 3em;
    align-self: center;
    font-size: 25px;
    font-weight: 300;
    width: 17vw;
}
#villagerName {
    justify-self: flex-start;
    font-size: 30px;
}
#birthday {
    font-size: 19px;
    align-self: flex-end;
  width: 50vw;
}
span {
    padding-left: 0.5em;
    font-size: 16px;
    font-weight: 500;
}

  
#card{
  border: 15px solid rgb(212, 212, 121);
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

  border-radius: 15px;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/176622e8-bf4c-4d60-9a64-b75cff245c16/d3inhyi-28e16cb6-9d37-4a6e-bdc6-0d7fcf0af574.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzE3NjYyMmU4LWJmNGMtNGQ2MC05YTY0LWI3NWNmZjI0NWMxNlwvZDNpbmh5aS0yOGUxNmNiNi05ZDM3LTRhNmUtYmRjNi0wZDdmY2YwYWY1NzQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.gqQUvb9pdKz_BDtsTqXkpM1_aUHox6IXyveVcugbntg);
  background-size: cover;
  display: flex;
  flex-direction: column; 
  width: 22vw;
  height: 60vh;
}
h3 {
    margin: 0;
    padding: 0;
    width: 90vw;
  font-size: 30px;
}
.hidden {
    visibility: hidden;
}
.fixed{
    position: absolute;
    top: 15%;
}
.pers,.spec {
    font-size: 25px;
}

/* ----------------Media Queries ----------------- */
@media only screen and (max-width: 600px){
 
    #card {
        width: 80vw;
      padding: 0 2em;
      height: 70vh;
    }
  
  #saying {
    width: 70vw;
    height: 20vw;
  }
  .container img {
    width: 70vw;
    height: 90vh;
    
    
  }
  .container {
      width: 100vw;
      height: 120vh;
      background-size: 300vw;

  }
  #species,#personality {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    width: 10vw;
    height: 10vh;
}
.spec,.pers {
    font-weight: 400;
    font-size: 18px;
}
  
}
/*
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .container {
        width: 300vw;
    }
    #card {
        width: 90vw;
      padding: 0 1em;
      height: 70vh;
    }
  
  #saying {
    width: 70vw;
    height: 20vw;
  }
  .container img {
    width: 60vw;
    height: 15vh;
    
    
  }
  .container {
      width: 100vw;
      height: 120vh;
      background-size: 300vw;

  }
  svg {
      font-size: 40px;
  }
}
*/
/* Portrait */
/*
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #card {
        width: 40vw;
      padding: 0 1em;
      height: 40vh;
    }
}
*/
/* Landscape */
/*
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}
*/
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
/*
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .container {
        width: 300vw;
    }
    #card {
        width: 40vw;
      padding: 0 1em;
      height: 40vh;
    }
  
  #saying {
    width: 70vw;
    height: 20vw;
  }
  .container img {
    width: 60vw;
    height: 15vh;
    
    
  }
  .container {
      width: 100vw;
      height: 120vh;
      background-size: 300vw;

  }
  svg {
      font-size: 40px;
  }
}
*/
/* Portrait */
/*
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .container {
        width: 300vw;
    }
    #card {
        width: 40vw;
      padding: 0 1em;
      height: 40vh;
    }
  
  #saying {
    width: 70vw;
    height: 20vw;
  }
  .container img {
    width: 60vw;
    height: 15vh;
    
    
  }
  .container {
      width: 100vw;
      height: 120vh;
      background-size: 300vw;

  }
  svg {
      font-size: 40px;
  }
  #btn {
    margin: 0;
}
}
*/
/* Landscape */ 
/*
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .container {
        width: 300vw;
    }
    #card {
        width: 90vw;
      padding: 0 1em;
      height: 70vh;
    }
  
  #saying {
    width: 70vw;
    height: 20vw;
  }
  .container img {
    width: 60vw;
    height: 15vh;
    
    
  }
  .container {
      width: 100vw;
      height: 120vh;
      background-size: 300vw;

  }
  svg {
      font-size: 40px;
  }

}
*/
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
/*
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .container {
        width: 300vw;
    }
    #card {
        width: 90vw;
      padding: 0 1em;
      height: 70vh;
    }
  
  #saying {
    width: 70vw;
    height: 20vw;
  }
  .container img {
    width: 60vw;
    height: 15vh;
    
    
  }
  .container {
      width: 100vw;
      height: 120vh;
      background-size: 300vw;

  }
  svg {
      font-size: 40px;
  }
  #btn {
    margin: 0;
}
}
*/
/* Portrait */
/*
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}
*/
/* Landscape */
/*
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .container {
        width: 300vw;
    }
    #card {
        width: 90vw;
      padding: 0 1em;
      height: 70vh;
    }
  
  #saying {
    width: 70vw;
    height: 20vw;
  }
  .container img {
    width: 60vw;
    height: 15vh;
    
    
  }
  .container {
      width: 100vw;
      height: 100vh;
      max-width: 100%;

  }
  svg {
      font-size: 40px;
  }
  #btn {
    margin: 0;
}
}
*/
/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
/*
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .container {
        width: 300vw;
    }
    #card {
        width: 90vw;
      padding: 0 1em;
      height: 70vh;
    }
  
  #saying {
    width: 70vw;
    height: 20vw;
  }
  .container img {
    width: 60vw;
    height: 15vh;
    
    
  }
  .container {
      width: 100vw;
      height: 120vh;
      background-size: 300vw;

  }
  .curve {
    font-size: 80px;
}
#btn {
    margin: 0;
}
}
*/
/* Portrait */
/*
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .container {
        width: 300vw;
    }
    #card {
        width: 90vw;
      padding: 0 1em;
      height: 70vh;
    }
  
  #saying {
    width: 70vw;
    height: 20vw;
  }
  .container img {
    width: 60vw;
    height: 15vh;
    
    
  }
  .container {
      width: 100vw;
      height: 120vh;
      background-size: 300vw;

  }
  .curve {
    font-size: 80px;
}
#btn {
    margin: 0;
}
}
*/
/* Landscape */
/*
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .container {
        width: 300vw;
    }
    #card {
        width: 90vw;
      padding: 0 1em;
      height: 70vh;
    }
  
  #saying {
    width: 70vw;
    height: 20vw;
  }
  .container img {
    width: 60vw;
    height: 15vh;
    
    
  }
  .container {
      width: 100vw;
      height: 120vh;
      background-size: 300vw;

  }
  .curve {
    font-size: 80px;
}
#btn {
    margin: 0;
}
}
*/
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    #card {
        width: 92vw;
      height: 60vh;
    }
  
  #saying {
    width: 60vw;
    height: 10vw;
  }
  .container img {
    width: 60vw;
    height: 15vh;
    
  }
  #btn {
      margin: 0;
  }
  .container {
      width: 100vw;
      height: 120vh;
      background-size: 300vw;

  }
  .curve {
    font-size: 80px;
}
#species,#personality {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    width: 10vw;
    height: 10vh;
}
.spec,.pers {
    font-weight: 400;
    font-size: 18px;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .container {
        width: 300vw;
    }
    #card {
        width: 90vw;
      padding: 0 1em;
      height: 70vh;
    }
  
  #saying {
    width: 70vw;
    height: 20vw;
  }
  .container img {
    width: 60vw;
    height: 15vh;
    
    
  }
  .container {
      width: 100vw;
      height: 120vh;
      background-size: 300vw;

  }
  #species,#personality {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    width: 10vw;
    height: 10vh;
}
.spec,.pers {
    font-weight: 400;
    font-size: 18px;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .container {
        width: 300vw;
        height: 100vh;
    }
    #card {
        width: 90vw;
      padding: 0 1em;
      height: 70vh;
    }
  
  #saying {
    width: 70vw;
    height: 20vw;
  }
  .container img {
    width: 60vw;
    height: 15vh;
    
    
  }
  .container {
      width: 100vw;
      height: 120vh;
      background-size: 300vw;

  }
#btn {
    margin: 0;
}
#species,#personality {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    width: 10vw;
    height: 10vh;
}
.spec,.pers {
    font-weight: 400;
    font-size: 18px;
}
}